<ion-header>
	<ion-toolbar color="dark">
		<!--
    	<ion-icon color="secondary" name="arrow-back" class="arrow-back" [routerDirection]="'back'" [routerLink]="['/']" ></ion-icon>
  	-->
		<ion-icon color="secondary" name="arrow-back" class="arrow-back" (click)="goBack()"></ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content color="dark">
	<div *ngIf="pic">
		<ion-card>
			<ion-list>
				<ion-item color="dark">
					<ion-avatar slot="start">
						<ion-img src="{{pic.user.profile_image.medium}}" (click)="goTo('/profile/'+pic.user.username)"></ion-img>
					</ion-avatar>
					<ion-label>
						<h2 class="under-pic" (click)="goTo('/profile/'+pic.user.username)">{{pic.user.name}} </h2>
					</ion-label>
					<time text-end>{{update_at}}</time>
				</ion-item>
			</ion-list>
			<ion-img src="{{pic.urls.regular}}" (click)="goTo('/photo/'+pic.id+'/fullimage')"></ion-img>
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col class="under-pic" (click)="like(pic.id)" size="2">
							<ion-icon name="checkmark" *ngIf="liked(pic.id)" color="success" style="font-size: 25px;"></ion-icon>
							<ion-icon name="add" *ngIf="!liked(pic.id)" style="font-size: 25px;"></ion-icon>
						</ion-col>
						<ion-col class="under-pic">
							<i class="fas fa-heart"></i>
							<span>{{pic.likes}}</span>
						</ion-col>
						<ion-col class="under-pic">
							<i class="fas fa-download"></i>
							<span>{{pic.downloads}}</span>
						</ion-col>
						<ion-col class="under-pic">
							<i class="fas fa-eye"></i>
							<span>{{pic.views}}</span>
						</ion-col>
						<!--
					<ion-col class="under-pic" size="2" text-end (click)="downloadthis(pic.links.download)">
						<ion-icon name="download" class="download"></ion-icon>
					</ion-col>-->
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
		<!--
		<ion-fab vertical="bottom" horizontal="end" slot="fixed">
			<ion-fab-button>
				<ion-icon name="share"></ion-icon>
			</ion-fab-button>
			<ion-fab-list side="top">
				<ion-fab-button>
					<ion-icon (click)="downloadthis(pic.links.download)" color="tertiary" name="cloud-download"></ion-icon>
				</ion-fab-button>
				<ion-fab-button>
					<ion-icon color="success" name="logo-whatsapp"></ion-icon>
				</ion-fab-button>
				<ion-fab-button>
					<ion-icon color="danger" name="logo-instagram"></ion-icon>
				</ion-fab-button>
				<ion-fab-button>
					<ion-icon color="secondary" name="logo-facebook"></ion-icon>
				</ion-fab-button>
			</ion-fab-list>
		</ion-fab>
		<ion-button *ngIf="cordova" (click)="shareWhatsapp()">Share</ion-button>
		<ion-button (click)="downloadthis(pic.links.download)">download	</ion-button>-->
	</div>
	<div *ngIf="!pic">
		<ion-spinner name="crescent" class="spinner"></ion-spinner>
	</div>
</ion-content>