.profile-img{
	border-radius:50%;
}

.info{
	text-align:center;
}
.label{
	padding-top:8px;
}

.username{
	padding-top:10px;
	padding-left:20px;
}

.labels{
	color:#0cd1e8;
	padding-right:10px;
}

.item{
	padding-bottom:6px;
}
.user{
	padding-bottom:6px;
	font-size:25px;
	color:#eece1a;
}

.name{
	position: absolute;
	top: 14px;
	left: 45%;
	font-size:20px;
}

.under-pic{
	color:white;
}

.under-pic >span{
	padding-left:15px;
}

.under-pic >div{
	font-size:14px;
}