<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-list>
    <ion-item>Version : 1.0.0</ion-item>
    <ion-item>Author : Enaime Hamza</ion-item>
    <ion-item>Powered By : Unsplash</ion-item>
    <ion-item>Developed with : Ionic-Angular-Cordova</ion-item>
  </ion-list>
  <ion-title color="warning">Contact Us</ion-title>
  <ion-list>
    <ion-item>
      <ion-icon name="logo-facebook"></ion-icon>
      <a href="https://www.facebook.com/enaime97">Enaime Hamza</a>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-instagram"></ion-icon>
      <a href="https://www.instagram.com/hamza_enaime/?hl=en">hamza_enaime</a>
    </ion-item>
    <ion-item>
      <ion-icon name="at"></ion-icon> hamza.enaime@outlook.com</ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar color="dark">
      <ion-title text-center class="menu-footer">{{year}} &copy;</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>