<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="info" color="warning">
      {{info.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding color="dark">
  <div *ngIf="photos">
  	<ion-card *ngIf="info">
	  <ion-card-header style="text-align: center;">
	    <ion-card-subtitle><span title="{{info.description}}"> {{info.description}}</span></ion-card-subtitle>
	    <ion-card-title>{{info.title}}</ion-card-title>
	  	<span *ngFor="let tag of info.tags">#{{tag.title}} </span>
	  </ion-card-header>

	  <ion-card-content>
	  	<ion-list>
		  	<ion-item class="activated">	
			    <ion-avatar slot="start">
			        <ion-img src="{{info.user.profile_image.small}}"></ion-img>
				</ion-avatar>
				<ion-label>
			        <h2><a href="{{info.user.links.html}}">{{info.user.name}}</a></h2>
					<p>{{info.user.bio}}</p>
				</ion-label>
			</ion-item>	
			<ion-item>	
		    	<h6>{{info.total_photos}} photos</h6>
			</ion-item>
			<ion-item class="activated">	
		    	<h6>published at : {{date}}</h6>
			</ion-item>		
	  	</ion-list>
	  </ion-card-content>
	</ion-card>
  <ion-grid >
      <ion-row align-items-center *ngFor="let photo of photos">
        <ion-col>
          <img class="home-imgs" src="{{photo.urls.small}}" [routerDirection]="'root'" [routerLink]="['/photo',photo.id]">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row align-items-center>
        <ion-col >
          <ion-button  color="light" (click)="clickButton()">More</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <div *ngIf="!photos" >
      <h2>loading data</h2>
    </div>
</ion-content>