<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning">
      Beauty BG
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding color="dark">
  <div *ngIf="pics">
  <ion-grid >
      <ion-row align-items-center *ngFor="let pic of pics">
        <ion-col>
          <img class="home-imgs" src="{{pic.urls.small}}" [routerDirection]="'root'" [routerLink]="['/photo',pic.id]">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row align-items-center>
        <ion-col >
          <ion-button  color="light" (click)="clickButton()">More</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <div *ngIf="!pics" >
      <h2>loading data</h2>
    </div>
</ion-content>

<!-- 

<ion-content padding>
  <ion-grid *ngIf="pics" >
  <ion-row *ngFor="let pic of pics" >
    <ion-col  size="4">
      <div>
        <img src="{{pic.urls.thumb}}">
      </div>
    </ion-col>
    <ion-col  size="4">
      <div>
        <img src="{{pic.urls.thumb}}">
      </div>
    </ion-col>
    <ion-col  size="4">
      <div>
        <img src="{{pic.urls.thumb}}">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button color="secondary" (click)="clickButton()">Secondary</ion-button>
</ion-content>
-->



