
<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning">
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark" [scrollEvents]="true" [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScrollEnd)="logScrollEnd()">
	<ion-fab vertical="bottom" horizontal="end"  slot="fixed" *ngIf="scroll_fab">
		    <ion-fab-button (click)="scrollToTop()">
		      <ion-icon name="arrow-dropup-circle"></ion-icon>
		    </ion-fab-button>
	</ion-fab>
   <ion-scroll #scroll scrollY="true">
	<ion-searchbar [(ngModel)]="nom" (ngModelChange)="search(nom)"></ion-searchbar>
	<div *ngIf="pics">
	  <ion-grid >
	      <ion-row align-items-center *ngFor="let pic of pics">
	        <ion-col>
	          <img class="home-imgs" src="{{pic.urls.small}}" [routerDirection]="'forward'" [routerLink]="['/photo',pic.id]">
	        </ion-col>
	      </ion-row>
	    </ion-grid>

	    <ion-grid *ngIf="searching">
	      <ion-row align-items-center>
	        <ion-col >
	          <ion-button  color="light" (click)="clickButton()">More</ion-button>
	        </ion-col>
	      </ion-row>
	    </ion-grid>
	</div>
   </ion-scroll>
</ion-content>
