// http://ionicframework.com/docs/theming/

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.home-imgs{
	width:100vw;
}
.photo-info{
	font-size:16px;
	padding-left:10px;
	color:white;
}

.arrow-back{
	padding-left:5px;
	padding-right:5px;
	width:30px;
	height:30px;
}

.arrow-back:hover{
	background-color:#140A1F;
}

.spinner{
	position:absolute;
	width:10%;
	height:10%;
	top:45%;
	left:45%;
}